[Unit]
Description=servico para correr o backend e frontend dos controladores do esp32
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/noderedstuff/esp32_gestor/backend
ExecStart=/usr/bin/node index.js
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target